.troopcalculator {
    width: 100%;
    overflow: hidden;
    display: flex;
}

.trainlink {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.0);
    color: white;
    text-decoration: none;
    font-size: 12px;
    color: rgb(68, 68, 68);
}

.trainlink img {
    width: 20px;
    height: 20px;
    cursor: pointer;
}


.traincontentcontainer {
    width: 100%;
    min-height: calc(100% - 22px);
    max-height: calc(100% - 22px);
    overflow-x: auto;
    overflow-y: hidden;
    scrollbar-width: none;
    display: flex;
    flex-direction: row;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
}

.traincontentcontainer::-webkit-scrollbar {
    display: none;
}

.traincontent {
    min-width: 100%;
    scroll-snap-align: start;
    max-height: calc(100% - 22px);
    overflow-y: auto;
    padding: 10px;
    color: rgb(44, 44, 44);
    background-color: #bcc3c4a9;
    scrollbar-width: none;
}

.trainselect {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-decoration: none;
    cursor: pointer;
    gap: 4px;
    padding: 4px;
}


.trainlink select,
input[type="text"],
input[type="number"] {
    border: 1px solid #282d30;
    width: 150px;
    border-radius: 2px;
    outline: none;
    height: 22px;
    font-size: 12px;
    background-color: #343b40;
    color: #cbcbcb;
    margin: 4px;
}

.traincontent select,
input[type="text"],
input[type="number"] {
    border: 1px solid #282d30;
    width: 150px;
    border-radius: 2px;
    outline: none;
    height: 22px;
    font-size: 12px;
    background-color: #343b40;
    color: #cbcbcb;
    margin: 4px;
}

.trainlink select option {
    background-color: #343b40;
    color: #cbcbcb;
}

.trooptypeinfocontainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 100%;
    gap: 0px;
}

.trooptypeinfocontainer img {
    width: 10%;
    height: auto;
}

.trooptypeinfo {
    width: 45%;
    border-radius: 5px;
    overflow: hidden;
    background-color: #c0c6c7;
    box-shadow: 5px 5px 8px #88888894;

}

.trooptypeinfoheader {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
    background: linear-gradient(90deg, rgba(36, 44, 52, 1) 0%, rgba(49, 56, 61, 1) 50%, rgba(37, 45, 53, 1) 100%);
    color: #8e9ba0;
    padding: 4px;
    font-size: 12px;
}

.trooptypeinfo h5 {
    display: inline;
    font-size: 12px;
}

.trooptypeinfotext {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.infotextimg {
    width: 15%;
    padding: 4px;
}

.infotextimg img {
    width: 100%;
    height: auto;
}

.troopstats {
    width: 85%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.stat {
    width: 50%;
    display: flex;
    flex-direction: row;
    gap: 4px;
    align-items: center;
}

.stat div {
    color: #333;
    /* Neutral dark color for text */

    background-repeat: no-repeat;
    background-position: left bottom;
    transition: background-size 0.3s ease;
    width: 90%;
}

/* Background color classes */
.bg-red {
    background-image: url(Images/Gui/progress-red.png);
    background-position: 0px bottom;
}

.bg-gold {
    background-image: url(Images/Gui/progress-gold.png);
    background-position: 0px bottom;
}

.bg-green {
    background-image: url(Images/Gui/progress-green.png);
    background-position: 0px bottom;
}

/* Progress bar styling */
.stat div::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    background-color: currentColor;
    transition: width 0.3s ease;
}

.stat img {
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

.stat p {
    font-size: 12px;
    color: #343b40;
}

.calculator-result {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 10px;
    background: #343B40;
    color: #cbcbcb;
    margin-top: 10px;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 5px 5px 8px #88888894;
}

.rss {
    width: 22%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.rss img {
    width: 30px;
    height: auto;
    margin-right: 5px;
}

.rss p {
    font-size: 12px;
}

.rsscosts {
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 4px;
    background-color: #343b40c3;
    color: #cbcbcb;
}

.rsscost {
    width: 25%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.rsscost img {
    width: 18px;
    height: auto;
    margin-right: 5px;
}
